<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">
<head>

<title>Pesquisa de Proprietário</title>

</head>

<body>
	
<section layout:fragment="conteudo">

		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-4">
						<h1>Pesquisa de Proprietário</h1>
					</div>

<!-- 					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/proprietario/novo}"> 
								<i class="glyphicon  glyphicon-plus-sign"></i> 
								<span class="hidden-xs  hidden-sm">Novo Proprietário</span>
							</a>
						</div>
					</div> -->
				</div>
			</div>
		</div>

		<div class="container-fluid">
		
			<form method="GET" th:object="${proprietarioFilter}">
			
			<div  class="well well-small">
			
			<div class="row">
									
					<div class="col-sm-4 form-group">
						<label for="nome" class="control-label">Nome do proprietário</label>
						<input id="nome" type="text" class="form-control negritoBlue" autofocus="autofocus" th:field="*{nome}"/>
					</div>
				</div>
	
				<div class="row">
				
					<div class= "col-sm-2 form-group">
						<label for="cpf_prop" class="control-label">CPF do proprietário</label>
						<input id="cpf_prop" type="text" class="form-control negritoBlue jsmask-cpf" autocomplete="off" th:field="*{cpf}"></input>
					</div>
				
				
					<div class= "col-sm-2 form-group">
						<label for="tel_1" class="control-label">Telefone</label>
						<input id="tel_1" type="text" class="form-control negritoBlue js-phone-number" th:field="*{telefone}"></input>
					</div>
				</div>	
				
				<div class="row">
					<div class= "col-sm-4 form-group">
						<label for="email" class="control-label">Email do proprietário</label>
						<input id="text" type="text" class="form-control negritoBlue" th:field="*{email}"></input>
					</div>
				</div>
				
				</div>
				
				<div class="row">
					<div class= "col-sm-6 form-group">
						<button type="submit" class="btn  btn-primary">Pesquisar Proprietário</button>
					</div>
				</div>
			
			</form>
			
			<!-- TABELAS DE CONSULTAS -->
			
					<div class="table-responsive  sc-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-prop-col-nome">
							<a th:href="${pagina.urlOrdenada('nome')}" th:remove="${pagina.vazia} ? tag">
								<span>Nome</span>
								<span class="dropup" th:remove="${pagina.descendente('nome')} ? tag"
										th:if="${pagina.ordenada('nome')}">
									<span class="caret"></span>
								</span>
								<span class="fa fa-sort" th:if="${not pagina.ordenada('nome')}" th:remove="${pagina.vazia} ? tag"></span>
							</a>
						</th>
						<th class="table-prop-col-cpf">CPF</th>
						<th class="table-prop-col-telefone">Telefone</th>
						<th class="table-prop-col-email">Email</th>
						<th class="table-prop-col-data">Data Cadastro</th>
						<th class="table-prop-col-acoes">Editar</th>
					</tr>
				</thead>
				
				<tbody>
					<tr class="negritoBlueTable" th:each="proprietarios : ${pagina.conteudo}">
						<td th:text="${proprietarios.nome}">nome</td>
						<td th:text="${proprietarios.cpf}">cpf</td>
						<td th:text="${proprietarios.telefone}">telefone</td>
						<td th:text="${proprietarios.email}">email</td>
						<td th:text="${proprietarios.data_cadastro}">Data Cadastro</td>
						<td class="center">
							<a class="btn  btn-link  btn-xs" title="Editar"> 
								<i class="glyphicon glyphicon-wrench"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${#lists.isEmpty(pagina.vazia)}">
						<td colspan="4">Aguardando pesquisa</td>
					</tr>
					
					
				</tbody>
			</table>
		</div>
			
			<!-- PAGINACAO -->
			
			
				<div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
					<nav>
						<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
							<li th:class="${pagina.primeira} ? disabled">
								<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag"><span>anterior</span></a>
							</li>
							<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
								<li th:class="${paginaAtual == numeroPagina} ? active">
									<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
								</li>
							</th:block>
							
							<li th:class="${pagina.ultima} ? disabled">
								<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag"><span>próxima</span></a>
							</li>
						</ul>
					</nav>
				</div>
		</div>
		
</section>
</body>
</html>